
html{
    width: auto;
    font-family: 'Nunito', sans-serif;
    height: auto;
	min-width: 100%;
}
.navbar.navbar-toggleable-md.navbar-light.bg-faded {
    position: relative;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    padding-bottom: 50px;
}
    
body {
    height: 100%;
    font-family: 'Nunito'
}


#company {
    padding-top: 50px;
    text-align: center;
    margin: auto;
    max-width: 60%;
    padding-bottom: 20px;
}

.team {
    background-color: #EAEAEA;
    width: 100%;
}

#title {
    text-align: center;
    padding-top: 15px;
}

.teammember {
    width: 730px;
    height: 410px;
    margin: auto;
    background-color: #EAEAEA;
    padding-top: 20px;
}
#profile{
    float: left;
    height: 350px;
    width: 300px;
    text-align: center;
    padding-right: 10px;
}

#profiletext {
    float: right;
    width: 400px;
    height: 350px;
    font-size: 20px;
    padding-top: 65px;
}
#copyright {
	margin-top: 170px;
    bottom: 0;
    text-align: center;
}
p {
    font-size: 20px;
    font-family: 'Nunito';
}


@media screen and (max-width: 1025px){ 
	.teammember {
        width: 100%;
    }
    #company {
        margin: auto;
        font-size: 20px;
        width: 100%;
    }
    #profile {
        margin: auto;
    }
    #profiletext {
        margin: auto;
        font-size: 20px;
        float: left;
        padding-left: 1%;
    }
}
@media screen and (max-width: 699px){
    html, body{
        max-height: 100%;
        width: 100%;
    }
    #profile {
        margin: auto;
        float: none;
        
    }
    #profiletext {
        margin: auto !important;
        float: none !important;
        max-width: 90%;
    }
    #company {
        max-width: 90%;
    }
}

@media screen and (max-width: 415px){ 
	


}