@import url(https://fonts.googleapis.com/css?family=Nunito);


.navbar {
	font-size: 22px;
}
    
body {
    height: 100%;
}


#company {
    padding-top: 50px;
    text-align: center;
    margin: auto;
    max-width: 60%;
}

.team {
    background-color: #EAEAEA;
    width: 100%;
}

#title {
    text-align: center;
    padding-top: 5px;
}

.teammember {
    width: 730px;
    height: 410px;
    margin: auto;
    background-color: #EAEAEA;
    padding-top: 10px;
}
#profile{
    float: left;
    height: 350px;
    width: 300px;
    text-align: center;
    padding-right: 10px;
}

#profiletext {
    float: right;
    width: 400px;
    height: 350px;
    font-size: 22px;
    padding-top: 50px;
}
#copyright {
	margin-top: 170px;
    bottom: 0;
    text-align: center;
}
p {
    font-size: 22px;
}


@media screen and (max-width: 1025px){ 
	.teammember {
        width: 100%;
    }
    #company {
        margin: auto;
        font-size: 20px;
        width: 100%;
    }
    #profile {
        margin: auto;
    }
    #profiletext {
        margin: auto;
        margin-top: 0.7%;
        margin-left: 40%;
        font-size: 26px;
    }
}

@media screen and (max-width: 415px){ 
	.nav > li{
        width: 100%;
        margin: auto;
    }
    #company {
        margin: auto;
        max-width: 90%;
        text-align: left;
        padding-bottom: 50%;
    }
    #company > h1 {
        text-align: center;
    }
    #profile {
        width: 100%;
    }
    #profiletext {
        margin: auto;
        margin-top: 90%;

    }


}