@import url(https://fonts.googleapis.com/css?family=Nunito);



    
body {
    padding-bottom: -50px;
}


#company {
    padding-top: 50px;
    text-align: center;
    margin: auto;
    max-width: 60%;
}

.team {
    background-color: #EAEAEA;
}

#title {
    text-align: center;
}

.teammember {
    margin-right: 300px;
    margin-left: 300px;
    display: inline;
}
#profile{
    float: left;
    margin-left: 200px;
    margin-top: 20px;
}

#profiletext {
    margin-left: 550px;
    margin-top: 35px;
    max-width: 400px;
    font-size: 27px;
}
#copyright {
	margin-top: 170px;
    bottom: 0;
    text-align: center;
}
p {
    font-size: 23px;
}


@media screen and (max-width: 1025px){ 
	
    #company {
        margin: auto;
        font-size: 20px;
    }
    #profile {
        margin: auto;
    }
    #profiletext {
        margin: auto;
        margin-top: 0.7%;
        margin-left: 40%;
        font-size: 26px;
    }
}

@media screen and (max-width: 415px){ 
	.nav > li{
        width: 100%;
        margin: auto;
    }
    #company {
        margin: auto;
        max-width: 90%;
        text-align: left;
        padding-bottom: 50%;
    }
    #company > h1 {
        text-align: center;
    }
    #profile {
        width: 100%;
    }
    #profiletext {
        margin: auto;
        margin-top: 90%;

    }


}