

html body{
	height: auto;
	min-width: 100%;
	width: auto;
	font-family: 'Nunito';
	background-color: white;
}
body {
	position: relative;
	margin: 0;
	min-height: 100%;
}
/*--- NAVBAR STYLING ---*/
.navbar {
    position: relative;
    font-size: 20px;
}

/*--- END NAVBAR STYLING ---*/


h1 {
	text-align: center;
	display: inline;
	float: center;
	font-size:  575%;
	color: #4A4444;
	text-transform: uppercase;
	letter-spacing: 1%;
}
.container {
	width: 80%;
	min-width: 1000px;
	margin: auto;
}
#metro {
	float: left;
	width: 50%;
}
#metro > iframe {
	margin: auto;
}
#industrial {
	float: right;
	width: 50%;
	
}

p {
	font-size: 20px;
	text-align: left;
	margin: auto;
	vertical-align: middle;
	max-width: 65%;	
}
#button {
	text-align: center;
}
h2 { 
	text-align: center;
	vertical-align: middle;
	font-family: 'Nunito';

 }
 #images {
	width: 560px; 
	height: 315px;
	max-width: 100%;
	 
 }
 #game_image {
	 max-width: 100%;
 }
 #mc_embed_signup {
	 padding-top: 25px;
	 padding-bottom: 3%;
 }
 .footer {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	margin: auto;
 }
 .footer > p {
	text-align: center;
	max-width: 100%;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 0.5%;
	vertical-align: middle;
 }
 #social {
	 float: left;
	 margin-left: 1%;
 }

 @media screen and (max-width: 1025px){ 
	#industrial {
		float: none;
		margin: auto;
		width: 85%;
	}
	#metro {
		float: none;
		margin: auto;
		width: 85%;
	}
	
	#mc_embed_signup {
		max-width: 80%;
		margin: auto;
		
	}

	
}

@media screen and (max-width: 600px){

	#industrial {
		float: none;
		margin: auto;
		width: 100%;
	}
	#metro {
		float: none;
		margin: auto;
		width: 100%;
	}
	p {
		max-width: 95%;
	}
	#mc_embed_signup {
		padding-top: 25px;
		max-width: 95%;
		margin: auto;
	}
	#social {
		float: none;
		text-align: center;
	}
	#socialmedia {
		text-align: center;
	}
	.footer > p {
		padding-left: 10%;
		padding-right: 10%;
	 }
}

