@import url(https://fonts.googleapis.com/css?family=Nunito);
html {
  width:100%;
  height: 100%;
  overflow: auto;
  background-color: #3668EC;
}

body {
  width:100%;
  min-height: 100%;
  background-color: #3668EC;
}

html, body {
  margin: 0px;
  padding: 0px;
}


.page-content h2 {
    text-align: center;
}
#cta {
  text-align: center;
}
#page {
    background-color: #DFDFDF;
    max-width: 60%;
    margin: auto;
    height: auto;
    min-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    
}
#trailer {
  text-align: center;
  padding-top: 25px;
}
#content {
    text-align: left;
    margin: auto;
    max-width: 60%;
    padding-top: 10px;
}
#indexpage {
    vertical-align: middle;
    margin-top: 50px;
}
.download {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  margin: auto;
  height: auto;
  position: relative;
}
#widget {
  float: left;
  width: 560;
  height: 327;
  padding-left: 40px;
}
#features {
  float: left;
  width: 35%;
  height: 100%;
  margin-top: 1%;
}
.footer {
  padding-top: 100px;
  margin-left: 330px;
  bottom: 0;
}
@media screen and (max-width: 1531px){
  #features {
    clear:both;
    padding-left: 25%;
    width: 75%;
    
  }
  #widget {
    clear: both;
    width: 100%;
  }
  iframe {
    margin: auto;
    right: 0;
    left: 0;
    display: block;
  }
}
@media screen and (max-width: 1025px){
    html {
      background-color: #DFDFDF;
    }
    body {
      background-color: #DFDFDF;
    }
    .page-content {
        background-color: #DFDFDF;
    }
    #page {
        max-width: 90%;
        font-size: 30px;
        
    }
    .carousel img {
            height:100% !important;
            width: 100% !important;
      }
    #widget {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      position: relative;
      }
    #features {
      float: left;
      clear:both;
      margin-left: 10%;
      margin-top: 10%;
      }
    .download {
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
       
      }
    .footer {
      margin: auto;
      display: block;
      text-align: center;
    }
    #copyright {
      margin: auto;
      max-width: 70%;
    }
    
}

@media screen and (max-width: 414px){
    
  .page-content {
    background-color: #DFDFDF;
}
  #page {
    max-width: 100%;
    font-size: 20px;
}
  .carousel img {
    height:100% !important;
    width: 100% !important;
  }
  #widget {
    max-width: 100%;
    margin-top: 5%;
    overflow:
  }
  #features {
    float: right;
    clear:both;
    
  
  }
  .download {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
   
  }
    }