@import url(https://fonts.googleapis.com/css?family=Nunito);



html {
  position: relative;
  height: 100%;
  min-height: 100% !important;
  background-color: #3668EC;
}

#container {
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0px;
  padding: 0px;
}

h1 {
  padding-top: 2%;
  text-align: center;
  float: center;
}

p { 
font-family: 'Nunito'; 
 }

 li {
  font-family: 'Nunito';
 }

.page-content h2 {
     text-align: center;
     font-family: 'Nunito';
}

#cta {
  text-align: center;
  font-family: 'Nunito';

}
#page {
    background-color: #DFDFDF;
    max-width: 60%;
    margin: auto;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
}
#trailer {
  display: block;
  text-align: center;
  padding-top: 25px;
  max-width: 100%;
}
#content {
    text-align: left;
    margin: auto;
    max-width: 70%;
    padding-top: 10px;
}
iframe {
    max-width: 100%;
}
.download {
  padding-top: 20px;
  width: 100%;
  margin: auto;
  height: 100%;
  position: relative;
}

#widget {
  float: left;
  width: 560;
  height: 327;
  padding-left: 40px;
}
#features {
  float: left;
  width: 35%;
  height: 100%;
  margin-top: 2%;
}
#features ul {
  padding-left: 25%;
}


 #copyright {
  margin: auto;
  text-align: center;
  width: 70%;
  padding-top: 7%;
  margin-bottom: -5%;
}
#copyright {
  padding-top: 3%;
  padding-bottom: -20px;
}
@media screen and (min-width: 1734px){
  #copyright {
    float: left;
    text-align: center;
    width: 100%;
    background-color: #DFDFDF;
  }
  #logo1 {
    display: inline-block;
  }
}
@media screen and (max-width: 1538px){
  
  #widget {
    display: block;
    float: none !important;
    margin: auto !important;
    padding: 0;
    }
  iframe {
    display: block;
    margin: auto;
  }
  #features {
    display: block;
    clear: both;
    float: none !important;
    margin: auto;
    width: 50%;
    padding-top: 3%;
    }
  #features ul {
    padding-left: 0;
  }
}

@media screen and (max-width: 1025px) {

  html {
      background-color: #DFDFDF;
    }
    body {
      background-color: #DFDFDF;
    }

    .page-content h2 {
     text-align: center;
     font-family: 'Nunito';
}
    .page-content {
        background-color: #DFDFDF;
    }
    #page {
        max-width: 100%;
        font-size: 22px;
    }
    #widget {
      margin: auto;
      float: none;
      }

    #features {
      margin: auto;
      float: none;
      width: 85%;
      }
    .download {
        width: 100%;
        max-width: 95%;
      }
    .footer {
      margin: auto;
      display: block;
      text-align: center;
    }
    #copyright {
      margin: auto;
      max-width: 95%;
      width: 90%;
    }
    
}


@media screen and (max-width: 414px) {
  #page {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  p {
    max-width: 95%;
  }
  #features {
    width: 90%;
  }
  #trailer {
  width: 100%;
}
  iframe {
   width: 100%;
 }
    
  #copyright {
    margin-top: 5%;
  }
}


