@import url(https://fonts.googleapis.com/css?family=Nunito);
.page-content {
    background-color: #3668EC;
}
.page-content h2 {
    text-align: center;
}
#page {
    background-color: #DFDFDF;
    max-width: 60%;
    margin: auto;
    
    
}
#content {
    text-align: left;
    margin: auto;
    max-width: 60%;
    padding-top: 10px;
}
#indexpage {
    vertical-align: middle;
    margin-top: 50px;
}
.download {
  padding-bottom: 20px;
  padding-top: 20px;
}
#widget {
  float: left;
  padding-left: 40px;
}
#features {
  margin-left: 600px;
}
.footer {
  padding-top: 100px;
  margin-left: 330px;
}

@media screen and (max-width: 1025px){
    body {
      background-color: #DFDFDF;
    }
    .page-content {
        background-color: #DFDFDF;
    }
    #page {
        max-width: 90%;
        font-size: 30px;
        
    }
    .carousel img {
            height:100% !important;
            width: 100% !important;
      }
    #widget {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      position: relative;
      }
    #features {
      float: left;
      clear:both;
      margin-left: 10%;
      margin-top: 10%;
      }
    .download {
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
       
      }
    .footer {
      margin: auto;
      display: block;
      text-align: center;
    }
    #copyright {
      margin: auto;
      max-width: 70%;
    }
    
}

@media screen and (max-width: 414px){
    
  .page-content {
    background-color: #DFDFDF;
}
  #page {
    max-width: 100%;
    font-size: 20px;
}
  .carousel img {
    height:100% !important;
    width: 100% !important;
  }
  #widget {
    max-width: 100%;
    margin-top: 5%;
    overflow:
  }
  #features {
    float: right;
    clear:both;
    
  
  }
  .download {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
   
  }
    }