@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
    
}

.faq {
	background-color: #F5F5F5;
	text-align: center;
	margin: auto;
}

#faq-paragraph {
	text-align: left;
	margin-left: 25%;
	max-width: 50%;
}

#copyright {
	margin-top: 230px;
    bottom: 0;
    text-align: center;
}
p {
    font-size: 23px;
}

@media screen and (max-width: 1025px){ 
	.faq-paragraph {
        max-width: 100%;
    }
    footer {
        max-width: 100%;
        margin: auto;
    }
    p {
        max-width: 100%;
    }

}
@media screen and (max-width: 414px){
    
    #faq-paragraph {
        margin: auto;
        max-width: 90%;
        word-wrap:break-word;
    }
    
    
        
}