@import url(https://fonts.googleapis.com/css?family=Nunito);

/*--- NAVBAR STYLING ---*/
.nav {
	
	opacity: 100%;
	color: #A2A2A3;
	list-style-type: none;
	text-align: center;
	overflow: hidden;
	/*padding: 20px 100px 20px 100px;*/
}

.nav > li {
	display: inline-block;
	
	font-size: 22px;
}

.nav > li > a {
	text-decoration: none;
	color: black;

}

.nav > li > a:hover {
	color: #1C96D3;
}


    



#company {
    padding-top: 50px;
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
}

.team {
    background-color: #EAEAEA;
    padding-bottom: 200px;
}

#title {
    text-align: center;
}

.teammember {
    margin-right: 300px;
    margin-left: 300px;
    display: inline;
}
#profile{
    float: left;
    margin-left: 400px;
    margin-top: 20px;
}

#profiletext {
    margin-left: 750px;
    margin-top: 100px;
    max-width: 400px
}

@media screen and (max-width: 1025px){ 
	.nav {
        width: 100%;
        margin: auto;
        font-size: 30px;
    }
    #company {
        margin: auto;
        font-size: 20px;
    }
    #profile {
        margin: auto;
    }
    #profiletext {
        margin: auto;
        margin-top: 2%;
        font-size: 26px;
    }
}

@media screen and (max-width: 415px){ 
	.nav > li{
        width: 100%;
        margin: auto;
    }
    #company {
        margin: auto;
        
        padding-bottom: 50%;
    }
    #profile {
        width: 100%;
    }
    #profiletext {
        margin: auto;
        margin-top: 90%;

    }


}