@import url(https://fonts.googleapis.com/css?family=Nunito);

/*--- NAVBAR STYLING ---*/
.nav {
	
	opacity: 100%;
	color: #A2A2A3;
	list-style-type: none;
	text-align: center;
	overflow: hidden;
	/*padding: 20px 100px 20px 100px;*/
}

.nav > li {
	display: inline-block;
	
	font-size: 22px;
}

.nav > li > a {
	text-decoration: none;
	color: black;

}

.nav > li > a:hover {
	color: #1C96D3;
}

@media screen and (max-width: 959px){ 
	.nav {
		width: 100%;
	}
	h2 {
		width: 70%;
		height: 70%;
	}
}
/*--- END NAVBAR STYLING ---*/


h1 {
	text-align: center;
	background: gray;
	display: inline;
	float: center;
	font-size:  575%;
	color: #4A4444;
	text-transform: uppercase;
	letter-spacing: 1%
	margin: 45% 0;
}

p {
	font-size: 19px;
	margin-left: 5%;
	margin-right: 5%;	
}

h2 { 
text-align: center;

 }